{% extends 'user-dashboard-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="user-content">
    <div class="user-panel">
        <h2 class="user-panel-title">Account Settings</h2>
        <p>Control how things go on, in your account</p>
        <ul class="nav nav-tabs nav-tabs-line" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#security-opt">Security</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#password-opt">Change Password</a>
            </li>
               <li class="nav-item">
                <a class="nav-link" href="{% url 'kyc' %}">KYC Application</a>
            </li>
          
            
        </ul><!-- .nav-tabs-line -->
        <div class="tab-content" id="security-opt-tab">
           
            <div class="tab-pane fade active show" id="security-opt">
                <form action="{% url 'setting' %}" method="post">
                    {% csrf_token %}
                    <h5 class="user-panel-subtitle">General Security Options</h5>
                    <div class="gaps-1x"></div>
                    <ul class="notification-list">
                        <div class="note note-plane note-info">
                            <em class="fas fa-info-circle"></em>
                            <p class="mb-1">{{form.password_on_withdrawal.errors}}</p>
                        </div>
                        <li class="justify-content-start guttar-16px">
                            
                            <div>
                                {% if user.settings.password_on_withdrawal %}
                                <input name="password_on_withdrawal" class="input-switch" type="checkbox" checked id="passonwith">
                                {% else %}
                                <input name="password_on_withdrawal" class="input-switch" type="checkbox"  id="passonwith">
                                {% endif %}
                                <label for="passonwith"></label>
                            </div>
                            
                            <div><span>Request password on fund withdrawal</span></div>
                        </li>

                        <div class="note note-plane note-info">
                            <em class="fas fa-info-circle"></em>
                            <p class="mb-1">{{form.email_on_transaction.errors}}</p>
                        </div>
                        <li class="justify-content-start guttar-16px">
                            <div>
                                {% if user.settings.email_on_transaction  %}
                                <input name="email_on_transaction" class="input-switch" type="checkbox" checked id="emailontran">
                                {% else %}
                                <input name="email_on_transaction" class="input-switch" type="checkbox"  id="emailontran">
                                {% endif %}
                                <label for="emailontran"></label>
                            </div>
                            <div><span>Receive email on every transaction</span></div>
                        </li>
                    </ul>
                    <div class="gaps-2x"></div>
                    <button class="btn btn-primary px-2 py-1" style="float: right;">Update</button>
                    <div class="gaps-3x"></div>

                </form>
            </div><!-- .tab-pane -->
            

            <div class="tab-pane fade" id="password-opt">

                <form action="{% url 'update-password' %}" method="post">
                    
                    {% csrf_token %}
                    {{password_form|crispy}}
                    <div class="gaps-3x"></div>
                    <div class="gaps-1x"></div><!-- 10px gap -->
                    <div class="d-sm-flex justify-content-between align-items-center">
                        <button class="btn btn-primary px-2 py-1" style="float: right;">Update</button>
                        <div class="gaps-2x d-sm-none"></div>
                      
                    </div>
                </form><!-- form -->
            </div><!-- .tab-pane -->
        </div><!-- .tab-content -->
    </div><!-- .user-panel -->
</div><!-- .user-content -->
{% endblock %}