[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.4"
asgiref = "==3.2.7"
astroid = "==2.3.3"
certifi = "==2020.4.5.1"
cffi = "==1.14.3"
colorama = "==0.4.3"
cryptography = "==3.2"
distlib = "==0.3.0"
django = "==3.0.5"
filelock = "==3.0.12"
isort = "==4.3.21"
lazy-object-proxy = "==1.4.3"
mccabe = "==0.6.1"
mpmath = "==1.1.0"
numpy = "==1.18.4"
pipenv = "==2020.11.15"
pycparser = "==2.20"
pylint = "==2.4.4"
pytz = "==2020.1"
six = "==1.14.0"
sqlparse = "==0.3.1"
sympy = "==1.5.1"
virtualenv = "==20.0.21"
virtualenv-clone = "==0.5.4"
wave = "==0.0.2"
wrapt = "==1.11.2"
django-crispy-forms = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
