{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- Carousel Start -->
<div class="container-fluid p-0 pb-0">
    <div class="owl-carousel header-carousel position-relative mb-5">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="{% static 'main/img/carousel-1.jpg' %}" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                style="background: rgba(6, 3, 21, .5);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Transport & Logistics
                                Solution</h5>
                            <h2 class="display-3 text-white animated slideInDown mb-4">
                                The Most Efficient Way To Move Your<span class="text-primary"> Packages</span> Around
                                The World
                            </h2>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">Your one stop for everything logistics.</p>
                            <a href="#tracking" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Track
                                Shipment</a>
                            <a href="#pricing" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">See
                                Pricing</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="{% static 'main/img/carousel-2.jpg' %}" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                style="background: rgba(6, 3, 21, .5);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">
                                Efficiency at it's peak
                            </h5>
                            <h1 class="display-3 text-white animated slideInDown mb-4">From One <span
                                    class="text-primary">Doorstep</span> To Another, Globally.</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">
                                Your neighbours prefers our service to anyother, you should to.
                            </p>
                            <a href="#pricing" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Track
                                Shipment</a>
                            <a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">See Pricing</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- Tracking Start -->
<div class="container-xxl py-0" id="tracking">
    <div class="container py-0">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase mb-3">Real Time Tracking</h6>
                <h1 class="mb-3">Track Your Package</h1>
                <p class="mb-5">
                    Track Your Shipment In Real Time
                </p>
                <div class="d-flex align-items-center">
                    <i class="fa fa-headphones fa-2x flex-shrink-0 bg-primary p-3 text-white"></i>

                </div>
            </div>
            <div class="col-lg-7">
                <div class="bg-light text-center p-5 wow fadeIn" data-wow-delay="0.5s">
                    <form method="GET" action="{% url 'track-shipment' %}">
                        <div class="row g-3">

                            <div class="col-12 mb-5">
                                <input name="tracking_number" type="text" class="form-control border-0"
                                    placeholder="Enter Tracking Number" style="height: 55px;">
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Tracking End -->

<!-- About Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0" id="about">
    <div class="container about py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'main/img/about.jpg' %}"
                        style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 about-text wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="text-secondary text-uppercase mb-3">About Us</h6>
                <h1 class="mb-5">We make moving packages very easy</h1>
                <p class="mb-5">
                    {{site_name}} is a reliable logistics company dedicated to delivering your goods safely and
                    efficiently. With years of experience and a commitment to customer satisfaction, we offer a wide
                    range of transportation services tailored to meet your unique needs. Trust us to handle your cargo
                    with care and precision every step of the way.
                </p>
                <div class="row g-4 mb-5">
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                        <i class="fa fa-globe fa-3x text-primary mb-3"></i>
                        <h5>Global Coverage</h5>
                        <p class="m-0">Efficiently transport your goods worldwide with our global freight forwarding
                            services.</p>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                        <i class="fa fa-shipping-fast fa-3x text-primary mb-3"></i>
                        <h5>On Time Delivery</h5>
                        <p class="m-0">We don't just ensure timely delivery of your goods, we always it is also
                            convenient for you.</p>
                    </div>
                </div>
                <a hidden href="" class="btn btn-primary py-3 px-5">Explore More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Fact Start -->
<div class="container-xxl py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase mb-3">Know us better</h6>
                <h1 class="mb-5">We Make Moving Packages Very Easy</h1>
                <p class="mb-2">{{site_name}} is dedicated to ensure moving your packages across countries is as easy as
                    making coffee. Our track record always speaks for us, and we keep getting better as we serve you.
                </p>
                <ul class="mb-5">
                    <li>Register your delivery, and select if you want us to come pick it up.</li>
                    <li>Make payment</li>
                    <li>Track Your shipment till delivery</li>

                </ul>
                <div class="d-flex align-items-center">
                    <i class="fa fa-headphones fa-2x flex-shrink-0 bg-primary p-3 text-white"></i>
                    <!--div class="ps-4">
                        <h6>Call for any query!</h6>
                        <h3 class="text-primary m-0">+012 345 6789</h3>
                    </div-->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-4 align-items-center">
                    <div class="col-sm-6">
                        <div class="bg-primary p-4 mb-4 wow fadeIn" data-wow-delay="0.3s">
                            <i class="fa fa-users fa-2x text-white mb-3"></i>
                            <h2 class="text-white mb-2" data-toggle="counter-up">945</h2>
                            <p class="text-white mb-0">Customers Served</p>
                        </div>
                        <div class="bg-secondary p-4 wow fadeIn" data-wow-delay="0.5s">
                            <i class="fa fa-ship fa-2x text-white mb-3"></i>
                            <h2 class="text-white mb-2" data-toggle="counter-up">4347</h2>
                            <p class="text-white mb-0">Packages Delivered</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="bg-success p-4 wow fadeIn" data-wow-delay="0.7s">
                            <i class="fa fa-star fa-2x text-white mb-3"></i>
                            <h2 class="text-white mb-2" data-toggle="counter-up">1605</h2>
                            <p class="text-white mb-0">Customer Reviews</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fact End -->


<!-- Service Start -->
<div class="container-xxl py-5" id="services">
    <div class="container py-5">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-secondary text-uppercase">Our Services</h6>
            <h1 class="mb-5">How We Make Your Lives Easier</h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="{% static 'main/img/service-1.jpg' %}" alt="">
                    </div>
                    <h4 class="mb-3">Air Freight</h4>
                    <p>When you need your shipment to arrive quickly and safely, our air freight services are the
                        perfect solution. We offer fast and reliable delivery to destinations around the world. Contact
                        us now to learn more.</p>
                    <!--a class="btn-slide mt-2" href=""><i class="fa fa-arrow-right"></i><span>Read More</span></a-->
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="{% static 'main/img/service-2.jpg' %}" alt="">
                    </div>
                    <h4 class="mb-3">Ocean Freight</h4>
                    <p>
                        Looking for affordable and reliable ocean freight services? Look no further. We provide
                        efficient and cost-effective solutions for all your shipping needs. Contact us today to learn
                        more.
                    </p>
                    <!--a class="btn-slide mt-2" href=""><i class="fa fa-arrow-right"></i><span>Read More</span></a-->
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="{% static 'main/img/service-3.jpg' %}" alt="">
                    </div>
                    <h4 class="mb-3">Road Freight</h4>
                    <p>Our road freight services are the ideal choice for domestic and international shipments. With a
                        focus on speed, safety, and affordability, we provide hassle-free transportation for your goods.
                        Contact us today.</p>
                    <!--a class="btn-slide mt-2" href=""><i class="fa fa-arrow-right"></i><span>Read More</span></a-->
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Service End -->


<!-- Feature Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container feature py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 feature-text wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase mb-3">Our Features</h6>
                <h1 class="mb-5">We Have been Serving over Happy 4000 Customers for the past 12 years</h1>
                <div class="d-flex mb-5 wow fadeInUp" data-wow-delay="0.3s">
                    <i class="fa fa-shipping-fast text-primary fa-3x flex-shrink-0"></i>
                    <div class="ms-4">
                        <h5>Fast and Efficient Delivery</h5>
                        <p class="mb-0">Get your products delivered on time with our speedy and efficient delivery
                            services that prioritize accuracy and reliability</p>
                    </div>
                </div>
                <div class="d-flex mb-5 wow fadeIn" data-wow-delay="0.5s">
                    <i class="fa   fa-warehouse text-primary fa-3x flex-shrink-0"></i>
                    <div class="ms-4">
                        <h5>Warehousing and Inventory Management</h5>
                        <p class="mb-0">Our advanced warehousing and inventory management systems ensure safe and secure
                            storage of your goods, giving you peace of mind</p>
                    </div>
                </div>
                <div class="d-flex mb-5 wow fadeInUp" data-wow-delay="0.7s">
                    <i class="fa fa-headphones text-primary fa-3x flex-shrink-0"></i>
                    <div class="ms-4">
                        <h5>24/7 Customer Support</h5>
                        <p class="mb-0">We value our estemmed customers and we priotize a hitch-free service delivery.
                            Our support staffs are always available to respond to yourr questions and enquiries.</p>
                    </div>
                </div>
                <div class="d-flex mb-0 wow fadeInUp" data-wow-delay="0.7s">
                    <i class="fa fa-code-branch text-primary fa-3x flex-shrink-0"></i>
                    <div class="ms-4">
                        <h5>Advanced Tracking and Reporting</h5>
                        <p class="mb-0">Stay updated on your shipments with our advanced tracking and reporting systems,
                            ensuring complete transparency and peace of mind.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0 wow fadeInRight" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'main/img/feature.jpg' %}"
                        style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->


<!-- Pricing Start -->
<div class="container-xxl py-5" id="pricing">
    <div class="container py-5">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-secondary text-uppercase">Our Pricing</h6>
            <h1 class="mb-5">Competitive Pricing </h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="price-item">
                    <div class="border-bottom p-4 mb-4">
                        <h5 class="text-primary mb-1">Small</h5>
                        <h1 class="display-5 mb-0">
                            <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>1200<small
                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Kg / Mile</small>
                        </h1>
                    </div>
                    <div class="p-4 pt-0">
                        <p><i class="fa fa-check text-success me-3"></i>Less Than 50 Kg</p>


                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="price-item">
                    <div class="border-bottom p-4 mb-4">
                        <h5 class="text-primary mb-1">Medium</h5>
                        <h1 class="display-5 mb-0">
                            <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>1000<small
                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Kg / Mile</small>
                        </h1>
                    </div>
                    <div class="p-4 pt-0">
                        <p><i class="fa fa-check text-success me-3"></i>More Than 50Kg</p>
                        <p><i class="fa fa-check text-success me-3"></i>Less Than 100Kg</p>


                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.7s">
                <div class="price-item">
                    <div class="border-bottom p-4 mb-4">
                        <h5 class="text-primary mb-1">Large</h5>
                        <h1 class="display-5 mb-0">
                            <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>800<small
                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Kg / Mile</small>
                        </h1>
                    </div>
                    <div class="p-4 pt-0">
                        <p><i class="fa fa-check text-success me-3"></i>More Than 100Kg</p>
                        <!--a class="btn-slide mt-2" href=""><i class="fa fa-arrow-right"></i><span>Order Now</span></a-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing End -->

    <!-- Blog Start -->
    <div class="container-fluid pt-5" id="news">
        <div class="container">
            <div class="text-center pb-2">
                <h6 class="text-primary text-uppercase font-weight-bold">Our Blog</h6>
                <h1 class="mb-4">Keep Updated With Us</h1>
            </div>
            <div class="row">
                {% for blog in blogs %}
                <div class="col-md-6 col-lg-6 col-12 mb-3">
                    <div class="position-relative">
                        <img class="img-fluid w-100" src="{{blog.img.url}}" alt="">
                        <div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center rounded-circle"
                            style="width: 60px; height: 60px; bottom: -30px; right: 30px;">
                            <h4 class="font-weight-bold mb-n1">{{blog.date.date|date:"d"}}</h4>
                            <small class="text-white text-uppercase">{{blog.date|date:"M"}}</small>
                        </div>
                    </div>
                    <div class="bg-smoke mb-3" style="padding: 30px;">
                        <div class="d-flex mb-3">
                            <div class="d-flex align-items-center">
                              
                                <a class="text-muted ml-2">Admin</a>
                            </div>
                           
                        </div>
                        <h4 class="font-weight-bold mb-3">{{blog.title}}</h4>
                        {% autoescape off %}
                       {{blog.body_shortened }}
                        <a class="border-bottom border-primary text-uppercase text-decoration-none" href="{% url 'blog-detail' blog.slug %}">Read More <i class="fa fa-angle-right"></i></a>
                       {% endautoescape %}
                    </div>
                </div>
               {% endfor %}
            </div>

            <div style="text-align: center;" class="pt-4">
                <a href="{% url 'blog-list' %}">
                    <button class="btn bg-primary text-white  btn-block btn-lg border-0 py-3" type="button">See More</button>
                </a>
            </div>
 
           
               
         
           
        </div>
    </div>
    <!-- Blog End -->








<!-- Testimonial Start -->
<div class="container-xxl py-3 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="text-center">
            <h6 class="text-secondary text-uppercase">Testimonial</h6>
            <h1 class="mb-0">What Our Clients Have To Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item p-4 my-5">
                <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                <div class="d-flex align-items-end mb-4">
                    <img class="img-fluid flex-shrink-0" src="{% static 'main/img/testimonial-1.jpg' %}"
                        style="width: 80px; height: 80px;">
                    <div class="ms-4">
                        <h5 class="mb-1">Sarah Johnson</h5>
                        <p class="m-0">Owner, Jewelry Store</p>
                    </div>
                </div>
                <p class="mb-0">{{site_name}} made shipping my products effortless and cost-effective. As a small business
                    owner, I appreciate their attention to detail and personalized service. Thank you to the {{site_name}}
                    team for making my logistics needs stress-free!</p>
            </div>
            <div class="testimonial-item p-4 my-5">
                <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                <div class="d-flex align-items-end mb-4">
                    <img class="img-fluid flex-shrink-0" src="{% static 'main/img/testimonial-2.jpg' %}"
                        style="width: 80px; height: 80px;">
                    <div class="ms-4">
                        <h5 class="mb-1">John Smith</h5>
                        <p class="m-0">Freelance Artist</p>
                    </div>
                </div>
                <p class="mb-0">I was hesitant to use a logistics company, but {{site_name}} exceeded my expectations.
                    They provided timely updates and ensured my package arrived on time. Their customer service team was
                    also top-notch!</p>
            </div>
            <div class="testimonial-item p-4 my-5">
                <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                <div class="d-flex align-items-end mb-4">
                    <img class="img-fluid flex-shrink-0" src="{% static 'main/img/testimonial-3.jpg' %}"
                        style="width: 80px; height: 80px;">
                    <div class="ms-4">
                        <h5 class="mb-1">David Lee</h5>
                        <p class="m-0">Fashion Store Owner</p>
                    </div>
                </div>
                <p class="mb-0">I've worked with many logistics companies over the years, and {{site_name}} is by far the
                    best. They are always on top of their game and make sure my shipments arrive on time, every time.
                    Their competitive rates are just an added bonus!</p>
            </div>
            <div class="testimonial-item p-4 my-5">
                <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                <div class="d-flex align-items-end mb-4">
                    <img class="img-fluid flex-shrink-0" src="{% static 'main/img/testimonial-4.jpg' %}"
                        style="width: 80px; height: 80px;">
                    <div class="ms-4">
                        <h5 class="mb-1">Emily Davis </h5>
                        <p class="m-0">Marketing Manager</p>
                    </div>
                </div>
                <p class="mb-0">{{site_name}} was a lifesaver for me during a recent cross-country move. They helped me
                    with everything from packing my belongings to coordinating the delivery. Their team was
                    professional, friendly, and reliable. Thank you, {{site_name}}!</p>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->


<!-- Contact Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0" id="contact">
    <div class="container contact-page py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-md-6 contact-form wow fadeIn" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase">Get In Touch</h6>
                <h1 class="mb-4">For Any Enquiry or Complaints</h1>
                <p class="mb-4">Our Support team is always ready to respond to all of your complaints and enquiries.</p>
                <div class="bg-light p-4">
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message"
                                        style="height: 100px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 pe-lg-0 wow fadeInRight" data-wow-delay="0.1s">
                <div class="position-relative h-100">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.175036365115!2d-97.73310518490216!3d30.321610281796703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644d4b25c9d7a09%3A0xd79cd07bb4c4e7a4!2s5200%20N%20Lamar%20Blvd%2C%20Austin%2C%20TX%2078751%2C%20USA!5e0!3m2!1sen!2s!4v1651847128148!5m2!1sen!2s"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->



{% endblock %}