{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero hero-slider-wrapper hero-style-1 hero-style-2">
    <div class="hero-slider">
        <div class="slide">
            <img src="{% static 'main/images/slider/1.jpg' %}" alt class="slider-bg">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-9 slide-caption">
                        <h2><span>The most efficient way to move your packages</span> <span>Around The world</span>
                        </h2>
                        <!--div class="btns">
                            <div class="btn-style"><a href="#">Learn More</a></div>
                        </div-->
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <img src="{% static 'main/images/slider/2.jpg' %}" alt class="slider-bg">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-9 slide-caption">
                        <h2><span>From one doorstep to another,</span> <span>globally</span>
                        </h2>
                        <!--div class="btns">
                            <div class="btn-style"><a href="#">Register Your delivery</a></div>
                        </div-->
                    </div>
                </div>
            </div>
        </div>
        <!--div class="slide">
                <img src="{% static 'main/images/slider/3.jpg' %}" alt class="slider-bg">
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-9 slide-caption">
                            <h2><span>We Provide the Best Solution</span> <span>For Your Transport.</span></h2>
                            <div class="btns">
                                <div class="btn-style"><a href="#">Contact us now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div-->
    </div>
</section>
<!-- end of hero slider -->

<!-- section-section start ->
<div class="section-area">
    <div class="container">
        <div class="row">
            <a href="#">
                <div class="col-lg-4 col-md-4 col-sm-6 col-6 col-d">
                    <div class="section-item">
                        <div class="section-icon">
                            <i style="color:inherit" class="fi flaticon-truck"></i>
                        </div>
                        <div class="section-content">
                            <p><a href="#">Inter State</a></p>
                        </div>
                    </div>
                </div>
            </a>
            <div class="col-lg-4 col-md-4 col-sm-6 col-6 col-d">
                <div class="section-item">
                    <div class="section-icon">
                        <i class="fi flaticon-box"></i>
                    </div>
                    <div class="section-content">
                        <p><a href="#">Logistics</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-6 col-d">
                <div class="section-item">
                    <div class="section-icon">
                        <i class="fi flaticon-delivery"></i>
                    </div>
                    <div class="section-content">
                        <p><a href="#">Get A Ride</a></p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!--section-section end -->
<!-- .about-area start -->
<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="{% static 'main/images/about/about.svg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 sec-p">
                <div class="about-content">
                    <div class="about-icon">
                        <i class="fi flaticon-travel"></i>
                    </div>
                    <h2>We make moving packages very easy</h2>
                    <p>
                        <b>{{site_name}}</b> is dedicated to ensure moving your packages across countries is as easy as
                        making coffee.
                    </p>
                    <span>Register your delivery, and select if you want us to come pick it up.</span>
                    <span>Make payment</span>
                    <span>Track your shipment </span>
                </div>
                <!--div class="signature-section">
                    <div class="si-text">
                        <p>Ketty Raigott</p>
                        <span>Chairman & Chief Executive Officer</span>
                    </div>
                    <img src="{% static 'main/images/about/1.png' %}" alt="">
                </div-->
            </div>
        </div>
    </div>
</div>
<!-- about-area end -->

<!-- start track-section -->
<section class="track-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="track">
                    <h3>Enter Your Tracking number and Track Your Package</h3>
                    <div class="tracking-form">
                        <div class="row">
                            <form method="GET" action="{% url 'track-shipment' %}">
                                <div class="col-lg-4 col-md-4 col-sm-12">

                                    <input name="tracking_number" type="text" class="form-control"
                                        placeholder="Tracking Number">

                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <button type="submit">Track Your Package</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
<!-- end track-section -->
<!-- feature-area start -->
<div class="features-area features-style-2">
    <div class="container">
        <div class="section-title text-center">


            <span>We Provide the Best</span>
            <h2> We are a First-Class Shipping company</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="features-item features-item-2">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="feature-wrap">
                            <!--div class="features-icon features-icon2">
                                <i class="fi flaticon-plane"></i>
                            </div-->
                            <div class="features-text">
                                <h3>Customer Service</h3>
                                <p>
                                    Our live customer support agents are always available to attend to your questions,
                                    enquiry and complaints.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="feature-wrap">
                            <!--div class="features-icon feature-icon3">
                                <i class="fi flaticon-truck"></i>
                            </div-->
                            <div class="features-text">
                                <h3>Competitive Rates</h3>
                                <p>
                                    We offer the best service delivery at the best price you can get.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="features-item">
                    <div class="feature-img">
                        <img src="{% static 'main/images/features/1.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-item">
                    <div class="col-lg-12 col-md-6 col-sm-12">
                        <div class="feature-wrap">
                            <!--div class="features-icon">
                                <i class="fi flaticon-ship"></i>
                            </div-->
                            <div class="features-text">
                                <h3>Timely Delivery</h3>
                                <p>
                                    Our delivery time is unbeatable, you can always trust us to deliver on time
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-12">
                        <div class="feature-wrap">
                            <!--div class="features-icon">
                                <i class="fi flaticon-truck-1"></i>
                            </div-->
                            <div class="features-text">
                                <h3>Parcel Safety</h3>
                                <p>We care about your parcels more than you do. Their safety is always our top priority.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- feature-area start -->
<!-- counter-area start -->
<div class="counter-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <div class="counter-content">
                    <h2>it always gets better with {{site_name}}</h2>
                    <p>Out track record always speaks for us, and we keep getting better as we serve you.</p>
                    <div class="btns">
                        <div class="btn-style btn-style-3"><a href="#">Learn More About Us...</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="counter-grids">

                    <div class="grid">
                        <div>
                            <h2><span class="odometer" data-count="{{package_delivered}}">{{package_delivered}</span>
                            </h2>
                        </div>
                        <p>Packages Delivered</p>
                    </div>
                    <div class="grid">
                        <div>
                            <h2><span class="odometer" data-count="{{users_served}}">{{users_served}} </span></h2>
                        </div>
                        <p>Users Served</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter-area end -->


<!-- pice-area start -->
<div class="pricing-area">
    <div class="container">
        <div class="section-title text-center">
            <span>We have the best pricing plan</span>
            <h2>Our Pricing </h2>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-4 col-l2 col-md-6 col-sm-12">
                        <div class="price-item">
                            <div class="pricing-header">
                                <h3>Small</h3>
                                <span>Per Kg/Mile</span>
                            </div>
                            <div class="pricing-table">
                                <div class="price-sub-header">
                                    <h4>$1200</h4>
                                </div>
                                <ul>
                                    <li>Less than 50kg</li>

                                </ul>
                                <div class="pricing-footer">
                                    <!--div class="btns">
                                            <div class="btn-style btn-style-4"><a href="#">Order Now</a></div>
                                        </div-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-l2 col-md-6 col-sm-12">
                        <div class="mt-5 d-block d-md-none"></div>
                        <div class="price-item">
                            <div class="pricing-header">
                                <h3>Medium</h3>
                                <span>Per Kg/Mile</span>
                            </div>
                            <div class="pricing-table">
                                <div class="price-sub-header">
                                    <h4>$1000</h4>
                                </div>
                                <ul>
                                    <li>More than 50kg </li>
                                    <li>Less than 100kg </li>

                                </ul>
                                <div class="pricing-footer">
                                    <!--div class="btns">
                                            <div class="btn-style btn-style-4"><a href="#">Order Now</a></div>
                                        </div-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-l2 col-md-6 col-sm-12">
                        <div class="mt-5 d-block d-md-none"></div>
                        <div class="price-item">
                            <div class="pricing-header">
                                <h3>Large</h3>
                                <span>Per Kg/Mile</span>
                            </div>
                            <div class="pricing-table">
                                <div class="price-sub-header">
                                    <h4>$800</h4>
                                </div>
                                <ul>
                                    <li>More than 100kg </li>

                                </ul>
                                <div class="pricing-footer">
                                    <!--div class="btns">
                                            <div class="btn-style btn-style-4"><a href="#">Order Now</a></div>
                                        </div-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pice-area end -->
<!-- testimonial-area start -->
<div class="testimonial-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="testimonial-active owl-carousel">
                    <div class="testimonial-wrap">
                        <div class="testimonial-img">
                            <img src="{% static 'main/images/testimonial/2.jpg' %}" alt="">
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-content">
                                <p>GTG always gets the job done, will always use their service.</p>

                                <h4>Manela Watson</h4>
                                <!--span>Derector of ATV</span-->
                            </div>
                        </div>
                        <div class="test-c d-none d-lg-block"></div>
                        <div class="test-b d-none d-lg-block"></div>
                    </div>
                    <div class="testimonial-wrap">
                        <div class="testimonial-img">
                            <img src="{% static 'main/images/testimonial/1.jpg' %}" alt="">
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-content">
                                <p> Very reliable and easy to monitor</p>
                                <h4>James preacher</h4>

                            </div>
                        </div>
                        <div class="test-c d-none d-lg-block"></div>
                        <div class="test-b d-none d-lg-block"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial-area end -->

<!-- news letter -->
<section class="newsletter-section newsletter-section-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>Subscribe To Our Newsletter</h2>
                <p>Keep in touch with our offers, promos and newsletters. Enter your email adrress.
                <p>
            </div>
            <div class="col-lg-8">
                <div class="newsletter">
                    <div class="newsletter-form">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <form>
                                    <input type="text" class="form-control" placeholder="Name">
                                </form>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <form>
                                    <input type="text" class="form-control" placeholder="Email">
                                </form>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <button type="submit">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
<!-- end news letter -->


{% endblock %}