{% extends 'admin-base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="user-content">
    <div class="user-panel">
        <div class="row">
          
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="tile-item tile-light">
                            <div class="tile-bubbles"></div>
                            <h6 class="tile-title">All shipments</h6>
                            <ul class="tile-info-list">
                                <li><span>1,026</span></li>
                              
                            </ul>
                          
                        </div>
                    </div>
               
                </div>
              
            </div><!-- .col -->
         
        </div><!-- .row -->
 
        <!--div class="token-card">
            <div class="token-info">
                <span class="token-smartag">ICO Phase 2</span>
                <h2 class="token-bonus">20% <span>Current Bonus</span></h2>
                <ul class="token-timeline">
                    <li><span>START DATE</span>14 Jul 2018</li>
                    <li><span>END DATE</span>25 Aug 2018</li>
                </ul>
            </div>
            <div class="token-countdown">
                <span class="token-countdown-title">THE BONUS END IN</span>
                <div class="token-countdown-clock" data-date="2021/08/10"></div>
            </div>
        </div><!-- .token-card -->
     
       
        
        <div class="gaps-3x"></div>
        <div class="table-responsive">
            <h4>Recent Shipments
                {% if  recent_shipments %}
                <span style="float: right;"><a href="">View all</a></span>
                 {% endif %}
            </h4>

              
        {% if not recent_transactions %}
         <div class="status status-empty">
            <div class="status-icon">
                <em class="ti ti-files"></em>
                <div class="status-icon-sm">
                    <em class="ti ti-close"></em>
                </div>
            </div>
            <span class="status-text">No shipments has been created yet</span>

        </div> 
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th>TRX REF.</th>
                        <th>Amount</th>
                        <th>TRX Type</th>
                        <th>Payment method</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tx in recent_transactions %}
                    <tr>
                        <td>{{tx.transaction_id}}</td>
                        <td>${{tx.amount}}</td>
                        <td>{{tx.transaction_type}}</td>
                        <td>{{tx.coin}}</td>
                        <td><span>{{tx.date}}</span></td>
                       
                    </tr>
                    {% endfor %}
                 
                </tbody>
            </table>
            {% endif %}
        </div>
        
    </div><!-- .user-panel -->
</div><!-- .user-content -->

{% endblock %}